---
import {getGenerator} from '../lib/content';
import type {TopicPage} from '../lib/content';

interface Props {
  page: TopicPage;
}

const {page} = Astro.props;
const headingText = `${page.title}${page.extraTitle ? ` ${page.extraTitle}` : ''}`;
const generator = getGenerator();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{headingText}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Mark Volkmann's Tech Blog" />
    <meta name="generator" content={generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" as="style" href="/blog/assets/prism-a11y.css" />
    <link rel="stylesheet" href="/blog/assets/prism-a11y.css" />
    <link rel="stylesheet" href="/blog/assets/topic.css" />
    {page.css ? <link rel="stylesheet" href={page.css} /> : null}
    <script
      async
      is:inline
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>
    <script>
      import '../scripts/prism';
    </script>
  </head>
  <body>
    <h2>{headingText}</h2>

    <aside set:html={page.tocHtml}></aside>
    <article set:html={page.html}></article>
  </body>
</html>
