---
import pkg from '../../package.json';

interface Props {
  css?: string;
  hasCodeBlocks?: boolean;
  hasMath?: boolean;
  showPrintButton?: boolean;
  title?: string;
}

const {
  css,
  hasCodeBlocks = false,
  hasMath = false,
  showPrintButton = false,
  title = "Mark Volkmann's blog"
} = Astro.props;
const generator = Astro.generator;
const siteVersion = pkg.version;
const basePath = '/blog/';
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Mark Volkmann's Tech Blog" />
    <meta name="generator" content={generator} />
    <meta name="theme-color" content="cornflowerblue" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="apple-touch-icon"
      href={`${basePath}assets/mark-volkmann-192.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href={`${basePath}assets/favicon-blue.png`}
    />
    <link rel="manifest" href={`${basePath}assets/manifest.json`} />

    <link rel="preload" as="style" href={`${basePath}assets/styles.css`} />
    <link rel="stylesheet" href={`${basePath}assets/styles.css`} />
    {
      hasCodeBlocks ? (
        <>
          <link
            rel="preload"
            as="style"
            href={`${basePath}assets/prism-a11y.css`}
          />
          <link rel="stylesheet" href={`${basePath}assets/prism-a11y.css`} />
        </>
      ) : null
    }

    {css ? <link rel="stylesheet" href={css} /> : null}
    <slot name="head" />

    <script is:inline src={`${basePath}js/top-layout.js`}></script>
    {
      hasMath ? (
        <script
          async
          is:inline
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
        />
      ) : null
    }
    {hasCodeBlocks ? <script>import '../scripts/prism';</script> : null}
  </head>
  <body>
    <header>
      <button class="hamburger" onclick="toggleHamburgerMenu()">&#x2630;</button
      >
      <h1>The Question Mark - blog by Mark Volkmann</h1>
      {
        showPrintButton ? (
          <button id="print-btn" onclick="printCurrentPage()">
            Print
          </button>
        ) : null
      }
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <a
        href={`https://tinyletter.com/mvolkmann?v=${siteVersion}`}
        rel="noopener"
        target="_blank"
      >
        subscribe
      </a>
      <div>&copy; R. Mark Volkmann, 2020-2026</div>
    </footer>
  </body>
</html>
