---
interface Props {
  Content: any;
  css?: string;
  headingText: string;
  tocHtml: string;
}

const {Content, css, headingText, tocHtml} = Astro.props;
const generator = Astro.generator;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{headingText}</title>
    <meta charset="utf-8" />
    <meta name="description" content="Mark Volkmann's Tech Blog" />
    <meta name="generator" content={generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" as="style" href="/blog/assets/prism-a11y.css" />
    <link rel="stylesheet" href="/blog/assets/prism-a11y.css" />
    <link rel="stylesheet" href="/blog/assets/topic.css" />
    {css ? <link rel="stylesheet" href={css} /> : null}
    <script
      async
      is:inline
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <script>
      import '../scripts/prism';
    </script>
  </head>
  <body>
    <h2>{headingText}</h2>

    <aside set:html={tocHtml} />
    <article>
      <Content />
    </article>
  </body>
</html>
